.card-small {
    padding: 10px;
    margin: 10px;
    border: 2px solid dimgrey;
    height:300px;
}

.card-small h3 {
    text-align: center;
    color: white;
    
}

.notFlipped {
    opacity: 0;
}

.flipped {
    opacity: 1;
}

#cardImages {
    width: 100%;
    display: hidden;
}

#shuffleBtn {
    display: block;
    margin: auto;
    width: 20%;
}

.asdf {
    background-color:black;
}

h1 {
    margin-top: 0px;
    padding-top: 0px;
}

@media only screen and (max-width:1024px){

}

@media only screen and (max-width:768px){

    h1 {
        margin-top: 30px;
        margin-bottom: 1px;
        font-size: 40px;
    }
    .card-small {
        width: 120px;
        height: 150px;
        margin-left: 1px;
    }
     h3 {
         font-size: 20px;
     }
}
