.pulsate-shape {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}

.pulsate-shape:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

#soundGameName {
    margin-top: 15%;
}

#lefttogo {
    color:black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 2.0;
    }
    100% { 
        opacity: 0.5;
    }
}



@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

h1{
    font-family: 'Luckiest Guy',cursive;
    text-align: center;
    color: rgb(109, 104, 104);
}

h3{
    font-family: 'Luckiest Guy',cursive;
    text-align: center;
    color: rgb(51, 49, 49);
}



#playAgainModalText{
    color: blue;
}

.modalStatsCorrect{
    color: green;
    font-family: 'Luckiest Guy',cursive;
    text-align: center;
}

.modalStatsIncorrect{
    color: red;
    font-family: 'Luckiest Guy',cursive;
    text-align: center;
}


#shapePlayAgain{
    
}

#shapeNotPlayAgain{
    
}

.rowShapes{
    display:inline-flex;
    justify-content: center;  
}

#sound-container{
    color:rgb(104, 104, 98);
    border:solid 1rem rgb(248, 245, 245);
    background-color: rgb(205, 223, 126);
    border-radius: 5%;
    padding: 5rem;
}

@media only screen and (max-width:1024px){
    #soundGameName {
        margin-top: 20%;
    }
}



