footer {
   /*  background-color: rgb(119, 212, 57); */
    color: #252221;
    text-align: center;
    margin-top: 3%;
    width: 100%;
    height: 30px;
    background-color: #e5592e;
/*     color: rgb(25, 187, 52); */
    color: white;
    text-align: center;
    /* padding: 5px;
    height: 100px; */
    /* padding-bottom: 50px; */
    font-size: 12px; 
    position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   
}
p {
    padding-top: 15px;
    
}

.container {
    padding-top: 12px;
}

.footer-copyright {
    padding-bottom: 2px;
    margin-bottom: 2px;
}

