.pulsate-shape {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: .3;
}

.pulsate-shape:hover {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

#instructions {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#shapeGameName {
    margin-top: 15%;
    text-align: center;
    font-family: 'Luckiest Guy',cursive;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 2.0;
    }
    100% { 
        opacity: 0.5;
    }
}

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

h1{
    font-family: 'Luckiest Guy',cursive;
    text-align: center;
    color: rgb(245, 243, 243);
}

h3{
    font-family: 'Luckiest Guy',cursive;
    text-align: center;
    color: rgb(51, 49, 49);
}

#shapeGamePage{ 
    background-size:100%;
}   

#playAgainModalText{
    color: blue;
}

.modalStatsCorrect{
    color: green;
    font-family: 'Luckiest Guy',cursive;
    text-align: center;
}

.modalStatsIncorrect{
    color: red;
    font-family: 'Luckiest Guy',cursive;
    text-align: center;
}

.rowShapes{
    display:inline-flex;
    justify-content: center;
}

#shape-container {
    background-color: azure;
    border:solid 1rem rgb(172, 216, 230);
    border-radius: 5%;
    padding: 3rem;
}



@media only screen and (max-width:1024px){
    #shapeGameName {
        margin-top: 20%;
    }
}

#lefttogo {
    margin-bottom: 10%;
}

