.shapeToDragCardIndividual{
    border-radius: 15px;
    width: 10%;
    display: block;
    margin: auto;
    padding: 10px;
  }
  
  .shapeToDragCardIndividual > .img-container {
    margin: 10%;
  }

  .shapeToDragCardIndividual > .img-container > img {
         width: 100%;
   }


  
