.shapeCardIndividual{
    background: rgb(249, 252, 249);
    border-radius: 10px;
    margin: 1%;  
    width: 15%;
  }
  
  #cardTitle {
    font-family: 'Montserrat', sans-serif;
  }

  .shapeCardIndividual > .img-container {
    margin: 10%;
  
  }

  .shapeCardIndividual > .img-container > img {
         width:100%;
         align-content: center;
   }

   .shapecardtitle {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(245, 243, 243);
   }


  
