.pulsate {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}


@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 2.0;
    }
    100% { 
        opacity: 0.5;
    }
}

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

h1{
    font-family: 'Luckiest Guy',cursive;
    text-align: center;
    color: rgb(245, 243, 243);
}

#colorGamePage{
    background:url("https://78.media.tumblr.com/61a276a51ad2549f59d87b78215a7cae/tumblr_oen7lrqzzm1vsjcxvo1_640.gif") no-repeat;
background-size:100%;
}   


