.numbercard {
    background: #fff;
    border-radius: 2px;
    height: 150px;
    margin: 1rem;
    position: relative;
    width: 225px;
    box-shadow: 0 3px 6px rgb(201, 48, 48), 0 3px 6px #999;
    text-align: left;
  }
  
  .numbercard > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    
  }
  .numbercard > .img-container > img {
    width: 60%
  }
  
  .numbercard > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .hover img {
      margin-left: 10px;
      -webkit-transform: scale(1.0);
      transform: scale(1.);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
  }
  .hover img:hover  {
      margin-left: -30px;
  
  }