.carousel .carousel-item {
    width: 400px;
    height: 200px;
    margin-top: 0px;
    border-style: solid;
    border-color: rgb(14, 0, 0);
    border-width: 5px;
    margin-bottom: 0px;
    

}

.submitBTN {
    margin-top: 0px;
    opacity: 0;
}

