#jumbo {
    background-color: rgb(119, 212, 57);
    color: white;
    text-align: center;
}

/* .nav {
    text-decoration : none;
    color: black;
} */

Link {
    text-decoration: none;
    color: black;
}