#theTeam {
    margin-top: 15%
}

#indexGallery {
    display: block;
    margin-left: 20%;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.team-image{
    text-align:center;
    display:inline-block;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 5px;
}

#aboutUs {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.lauraImg, .lanceImg, .michaelImg, .shazImg, .alvinImg {
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 100%;
}

@media only screen and (max-width:1024px){
    #theTeam {
        margin-top: 20%;
    }

    #indexGallery {
        margin-left: 10%;
    }
}


@media only screen and (max-width:768px){
    #theTeam {
        margin-top: 30%;
    }

    #indexGallery {
        margin-bottom: 10%;
        
    }
}
