
#loginModal {
    display: block;
    margin: auto;
    margin-top: 7%;
    width: 50%;
    height: 120px;
    background-color: #80d236;
    font-size: 22px;
    font-weight: bold;
    border: 5px solid white;
    box-shadow: 2px 2px 2px dimgrey;
    border-radius: 100px;
    border-radius: 100px;
}

#signupModal {
    display: block;
    margin: auto;
    margin-top: 1%;
    width: 50%;
    height: 120px;
    background-color: #398fe8;
    font-size: 22px;
    font-weight: bold;
    border: 5px solid white;
    box-shadow: 2px 2px 2px dimgrey;
    border-radius: 100px;
    font-family: 'Encode Sans Condensed', sans-serif;
}

#loginBack {
    background-color: #80d236
}

#signupBack {
    background-color: #398fe8
}



