.card {
    width: auto;
    display: block;
    margin: auto;
    padding: 30px;
    margin-bottom: 19px;
}

#userInput {
    color: #424141;
    background-color: #aae9f1;
    background-color: white;
    text-align: center;
    font-weight: 500;
    border: 1px solid #b9b9b9;
}

#submitBtn {
    display: block;
    margin: auto;
    padding: 7px;
    margin-top: 10px;
    width: 30%;
    background-color: #14dc0f;
    border: none;
    box-shadow: 2px 2px 2px darkolivegreen;
    color: white;
    font-size: 20px;
}

.tree {
    background: url(./images/sky_grass_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
