    #jumbo {
        background-color: rgb(119, 212, 57);
        color: white;
        text-align: center;
    }

    #homeLink {
        padding: 10px;
        position: relative;
        top: -100px;
        right: 100px;
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 50px;
        font-size: 20px;
        font-weight: bold;
        color: black;
        border: 2px dotted black;
    }
    
    #aboutLink {
        padding: 10px;
        position: relative;
        top: -50px;
        right: 100px;
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 50px;
        font-size: 20px;
        font-weight: bold;
        color: black;
        border: 2px dotted black;
    }

    #nav {
        margin-top: 2px;
    }

    #parent-link {
        background-color: grey;
        padding-right: 50px;
        padding-left: 50px;
        margin-right: 425px;
    }

    .logo {
        height: 30px;
        margin-bottom: 10px;
    }

    #appLogo {
        background-color: #5fc9f1;
        text-shadow: 5px 5px 5px #183d4c;
        color: white;
        font-size: 65px;
    }
    
   #sun {
        height: 175px;
        position: relative;
        top: 4%;
        left: 0;
    }

    #parentBtn {
        background-color:rgb(19, 212, 19);
        border: 2px solid white;
        padding: 10px;
    }

    #parentBtn a {
        color:white;
        text-decoration: none;
        font-weight: bold;
    }
    
    #logoutBtn {
        background-color:red;
        border: 2px solid white;
        padding: 10px;
    }
    
    #logoutBtn a {
        color:white;
        text-decoration: none;
        font-weight: bold;
    }

    /* media queries for smaller screens/ipad */
    @media only screen and (max-width:1024px){
        #monkey {
            height:25%;
        }

        #appName {
            margin-left: 39%;
        }

        #appS {
            margin-left: 31%;
        }
    }


    @media only screen and (max-width:768px){

        #loginSun {
            height: 125px;
        }

        #appName {
            margin-left: 35%;
        }

        #appS {
            margin-left: 0;
            text-align: center;
        }

        #aboutLink {
            position: relative;
            top: 28px;
            right: 207px;
        }

        #homeLink {
            position: relative;
            top: 28px;
            right: 207px;
        }

        .rectangle {
            background-color: #5fc9f1;
            border-radius: 0;
            font-size: 20px;
            text-align: center;
        }

       #appLogo {
            background-color: #5fc9f1;
            text-shadow: 5px 5px 5px #183d4c;
            color: white;
            font-size: 65px;
            text-align: left;
            margin-left: 41%;
        }
}